<div *ngIf="!auth.user">
    <h2 routerlink="/register"> 
        <a routerLink="/register">
            Create an account to start your grocery list! 
        </a>
    </h2>
</div>
<div *ngIf="auth.user">
    <h1> My Grocery List </h1>
    <br><br>
    <div class="grid33">
        <div>
            <h2> Grocery </h2>
        </div>
        <div>
            <h2> Department </h2>
        </div>
    </div>
    <br>
    <div *ngFor="let groc of groceries">
        <app-grocery [grocery]="groc"></app-grocery>
    </div>
    <br>
    <div *ngIf="editMode">
        <app-add (cancel)="onCancel()"></app-add>
    </div>
</div>
<br><br>
<div *ngIf="!editMode" class="grid255025">
    <div></div>
    <div>
        <button class="btn btn-success" (click)="onEdit()">
            <h4>Add New Grocery</h4>
        </button>
    </div>
    <div></div>
</div>