/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,h6,button,a{
    text-align: center;
}

button{
    height: 60px;
}

a{
    color: black;
}

a:hover{
    color:rgb(65, 65, 65);
}

.grid50 { 
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid502 { 
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.grid255025 { 
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.grid33 { 
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.grid6633 { 
    display: grid;
    grid-template-columns: 66.6% 33.3%;
}

.border-left{
    border-style: solid hidden solid solid;
    border-color: rgb(0, 2, 24);
    background-color: rgb(189, 189, 189);
}

.border{
    border-style: solid;
    border-color: rgb(0, 2, 24);
    background-color: rgb(189, 189, 189);
}